.t-v4-container {
  min-height: 100vh;
}
.t-v4-t-v4 {
  width: 100%;
  height: 4107px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.t-v4-m-ain {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1920px;
  height: 959px;
  margin: auto;
  display: flex;
  padding: 72px 163px 0 163px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(67, 126, 71, 1);
}
.t-v4-navbar {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 16px;
}
.t-v4-frame8 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 342px;
}
.t-v4-link {
  display: contents;
}
.t-v4-image1 {
  width: 54px;
  height: 55px;
  position: relative;
  border-color: transparent;
  margin-right: 58px;
  text-decoration: none;
}
.t-v4-link1 {
  display: contents;
}
.t-v4-image3 {
  width: 54px;
  height: 55px;
  position: relative;
  border-color: transparent;
  text-decoration: none;
}
.t-v4-frame {
  width: 393px;
  height: 20px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.t-v4-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.t-v4-text02 {
  left: 111px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.t-v4-text04 {
  left: 223px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.t-v4-text06 {
  left: 332px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.t-v4-heading {
  width: 1390px;
  height: 717px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.t-v4-frame17 {
  top: 11px;
  left: 0px;
  right: 0px;
  width: 1297px;
  height: 708px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.t-v4-frame16 {
  width: 454px;
  height: 217px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  flex-direction: column;
  justify-content: center;
}
.t-v4-text08 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 40px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 11px;
  text-decoration: none;
}
.t-v4-text09 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 70px;
  align-self: center;
  font-style: ExtraBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 11px;
  text-decoration: none;
}
.t-v4-text11 {
  color: rgba(255, 255, 255, 1);
  width: 370px;
  height: auto;
  font-size: 25px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.t-v4-rectangle10 {
  width: auto;
  position: relative;
  align-self: center;
  border-color: transparent;
}
.t-v4-section1 {
  top: 1000px;
  left: 0px;
  right: 0px;
  width: 1222px;
  height: 1367px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.t-v4-workasateam {
  width: 758px;
  height: 1307px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: -77px;
  flex-direction: column;
}
.t-v4-text16 {
  color: rgb(0, 0, 0);
  width: 470px;
  height: auto;
  font-size: 64px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Nunito;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 21px;
  text-decoration: none;
}
.t-v4-text18 {
  color: #000000;
  font-size: 64px;
  font-family: Nunito;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
}
.t-v4-text19 {
  color: rgba(0, 0, 0, 1);
  width: 588px;
  height: auto;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 89px;
  text-decoration: none;
}
.t-v4-rectangle9 {
  width: 506px;
  height: 728px;
  position: relative;
  border-color: transparent;
  border-radius: 10px;
}
.t-v4-frame15 {
  width: 593px;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.t-v4-rectangle13 {
  width: 565px;
  height: 825px;
  position: relative;
  border-color: transparent;
}
.t-v4-content2 {
  top: 2600px;
  left: 0px;
  right: 0px;
  width: 1348px;
  margin: auto;
  display: flex;
  padding: 40px 142px;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.t-v4-text24 {
  color: rgba(0, 0, 0, 1);
  width: 957px;
  height: auto;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 57px;
  text-decoration: none;
}
.t-v4-text25 {
  font-weight: 700;
}
.t-v4-buttons {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.t-v4-n-e-x-t {
  width: 170px;
  height: 42px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 288px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.t-v4-text37 {
  top: 10px;
  left: 49px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Nunito;
  font-weight: 700;
  line-height: 159.3999981880188%;
  font-stretch: normal;
  text-decoration: none;
}
.t-v4-n-e-x-t1 {
  width: 170px;
  height: 42px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.t-v4-text39 {
  top: 10px;
  left: 67px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 159.3999981880188%;
  font-stretch: normal;
  text-decoration: none;
}
.t-v4-content3 {
  top: 3340px;
  left: 0px;
  right: 0px;
  width: 921px;
  height: 391px;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.t-v4-rectangle11 {
  top: 0px;
  left: -1px;
  width: 461px;
  height: 391px;
  position: absolute;
  border-color: transparent;
}
.t-v4-rectangle12 {
  top: 0px;
  left: 460px;
  width: 460px;
  height: 391px;
  position: absolute;
  border-color: transparent;
}
.t-v4-gray-elegant-beauty-brand-make-up-promotion-banner3 {
  top: 2299px;
  left: 1050px;
  width: 486px;
  height: 246px;
  position: absolute;
  border-color: transparent;
}
.t-v4-f-o-o-t-e-r {
  top: 3760px;
  left: 0px;
  width: 1920px;
  height: 344px;
  display: flex;
  padding: 32px 463px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(30, 55, 119, 1);
}
.t-v4-icons {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 19px;
}
.t-v4-link2 {
  display: contents;
}
.t-v4-twitter {
  width: 49px;
  height: 49px;
  position: relative;
  margin-right: 38px;
  text-decoration: none;
}
.t-v4-link3 {
  display: contents;
}
.t-v4-instagram {
  width: 49px;
  height: 49px;
  position: relative;
  margin-right: 38px;
  text-decoration: none;
}
.t-v4-link4 {
  display: contents;
}
.t-v4-facebook {
  width: 49px;
  height: 49px;
  position: relative;
  text-decoration: none;
}
.t-v4-text40 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.t-v4-text41 {
  color: rgba(141, 163, 204, 1);
  height: auto;
  font-size: 36px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Nunito;
  font-weight: 800;
  line-height: 159.3999981880188%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 14px;
  text-decoration: none;
}
.t-v4-text43 {
  color: rgba(141, 163, 204, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 600;
  line-height: 159.3999981880188%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 14px;
  text-decoration: none;
}
.t-v4-text45 {
  color: rgba(141, 163, 204, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 600;
  line-height: 159.3999981880188%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .t-v4-m-ain {
    width: 1600px;
  }
  .t-v4-f-o-o-t-e-r {
    width: 1600px;
  }
}
@media(max-width: 1200px) {
  .t-v4-m-ain {
    width: 1200px;
    height: 1047px;
  }
  .t-v4-section1 {
    top: 1200px;
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .t-v4-content2 {
    top: 2700px;
    width: 1200px;
  }
  .t-v4-gray-elegant-beauty-brand-make-up-promotion-banner3 {
    top: 2457px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
}
@media(max-width: 991px) {
  .t-v4-t-v4 {
    height: 5635px;
    margin-bottom: 0px;
  }
  .t-v4-m-ain {
    width: 991px;
    height: 1468px;
  }
  .t-v4-navbar {
    width: 721px;
    height: 213px;
    justify-content: center;
  }
  .t-v4-frame8 {
    margin-right: 0px;
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: row;
  }
  .t-v4-frame {
    flex-direction: row;
  }
  .t-v4-heading {
    width: 100%;
    height: 1024px;
    flex-direction: row;
  }
  .t-v4-frame17 {
    width: 635px;
    height: 1018px;
    flex-direction: column;
  }
  .t-v4-frame16 {
    height: 291px;
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .t-v4-text08 {
    margin-top: 120px;
  }
  .t-v4-rectangle10 {
    align-self: center;
    padding-top: var(--dl-space-space-threeunits);
  }
  .t-v4-section1 {
    top: 1500px;
    width: 991px;
    flex-direction: column;
  }
  .t-v4-frame15 {
    align-items: center;
    justify-content: center;
  }
  .t-v4-rectangle13 {
    align-self: flex-start;
  }
  .t-v4-content2 {
    top: 3900px;
    width: 991px;
    height: 655px;
  }
  .t-v4-content3 {
    top: 4500px;
  }
  .t-v4-gray-elegant-beauty-brand-make-up-promotion-banner3 {
    top: 3600px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .t-v4-f-o-o-t-e-r {
    top: 5000px;
    width: 991px;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .t-v4-t-v4 {
    height: 5584px;
  }
  .t-v4-m-ain {
    width: 767px;
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
  }
  .t-v4-frame17 {
    width: 522px;
  }
  .t-v4-section1 {
    width: 767px;
  }
  .t-v4-content2 {
    width: 767px;
    height: 863px;
  }
  .t-v4-text24 {
    width: 614px;
  }
  .t-v4-content3 {
    top: 4780px;
    width: 767px;
  }
  .t-v4-f-o-o-t-e-r {
    top: 5250px;
    width: 767px;
  }
}
@media(max-width: 479px) {
  .t-v4-t-v4 {
    height: 5688px;
  }
  .t-v4-m-ain {
    width: 479px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .t-v4-navbar {
    width: 100%;
    height: 622px;
    flex-direction: column;
  }
  .t-v4-frame8 {
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .t-v4-frame {
    align-self: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .t-v4-frame17 {
    width: 430px;
  }
  .t-v4-frame16 {
    height: 375px;
  }
  .t-v4-text08 {
    font-size: 80px;
  }
  .t-v4-rectangle10 {
    width: 364px;
    height: 470px;
  }
  .t-v4-section1 {
    width: 479px;
  }
  .t-v4-workasateam {
    width: 100%;
  }
  .t-v4-text16 {
    width: 354px;
    align-self: center;
    margin-bottom: 52px;
  }
  .t-v4-text19 {
    width: 347px;
    height: 315px;
  }
  .t-v4-rectangle9 {
    width: 315px;
    height: 453px;
  }
  .t-v4-frame15 {
    width: 100%;
  }
  .t-v4-rectangle13 {
    width: 367px;
    height: 535px;
  }
  .t-v4-content2 {
    top: 3547px;
    width: 479px;
    height: 888px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .t-v4-text24 {
    width: 396px;
  }
  .t-v4-buttons {
    width: 453px;
    height: 145px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .t-v4-n-e-x-t {
    padding: var(--dl-space-space-halfunit);
    margin-right: 0px;
    margin-bottom: 50px;
    justify-content: center;
  }
  .t-v4-text37 {
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    font-size: 20px;
  }
  .t-v4-n-e-x-t1 {
    padding: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .t-v4-text39 {
    top: 0px;
    left: 0px;
    color: rgb(0, 0, 0);
    right: 0px;
    bottom: 0px;
    margin: auto;
    font-size: 20px;
    text-align: center;
    font-family: Nunito;
    font-weight: 700;
    line-height: 159.4%;
    text-decoration: none;
  }
  .t-v4-content3 {
    left: 0px;
    right: 0px;
    width: 299px;
    height: 481px;
    margin: auto;
    flex-direction: column;
  }
  .t-v4-rectangle11 {
    left: 0px;
    right: 0px;
    width: 300px;
    height: 300px;
    position: static;
  }
  .t-v4-rectangle12 {
    left: 0px;
    right: 0px;
    width: 300px;
    height: 300px;
    position: static;
  }
  .t-v4-gray-elegant-beauty-brand-make-up-promotion-banner3 {
    top: 3279px;
    width: 418px;
    height: 211px;
  }
  .t-v4-f-o-o-t-e-r {
    top: 5350px;
    width: 479px;
    bottom: -22px;
  }
}
