.quality-esucation-container {
  min-height: 100vh;
}
.quality-esucation-quality-esucation {
  width: 100%;
  height: 4185px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.quality-esucation-banner {
  top: -10px;
  left: -8px;
  width: 1295px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.quality-esucation-n-u-a-d-s031 {
  width: 1919px;
  height: 481px;
  position: relative;
  border-color: transparent;
}
.quality-esucation-he-a-d {
  top: 480px;
  left: 0px;
  right: 0px;
  width: 1919px;
  height: 1015px;
  margin: auto;
  display: flex;
  padding: 38px 154px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(195, 35, 51, 1);
}
.quality-esucation-navbar {
  width: 1115px;
  height: 94px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 8px;
}
.quality-esucation-frame8 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.quality-esucation-link {
  display: contents;
}
.quality-esucation-image1 {
  width: 54px;
  height: 55px;
  position: relative;
  border-color: transparent;
  margin-right: 58px;
  text-decoration: none;
}
.quality-esucation-link1 {
  display: contents;
}
.quality-esucation-image3 {
  width: 54px;
  height: 55px;
  position: relative;
  border-color: transparent;
  text-decoration: none;
}
.quality-esucation-frame {
  width: 50%;
  height: 32px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.quality-esucation-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.quality-esucation-text02 {
  left: 111px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.quality-esucation-text04 {
  left: 223px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.quality-esucation-text06 {
  left: 332px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.quality-esucation-heading {
  width: 1396px;
  height: 772px;
  display: flex;
  padding: 41px 39px;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.quality-esucation-text08 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  flex-direction: column;
}
.quality-esucation-text09 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 40px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 11px;
  text-decoration: none;
}
.quality-esucation-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 70px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 11px;
  text-decoration: none;
}
.quality-esucation-text12 {
  color: rgba(255, 255, 255, 1);
  width: 370px;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.quality-esucation-rectangle10 {
  width: 600px;
  height: 600px;
  position: relative;
  align-self: center;
  border-color: transparent;
}
.quality-esucation-content {
  top: 1500px;
  left: 0px;
  right: 0px;
  width: 1261px;
  height: 842px;
  margin: auto;
  display: flex;
  padding: 115px 81px;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.quality-esucation-rectangle9 {
  width: 489px;
  height: 704px;
  position: relative;
  border-color: transparent;
  margin-right: 130px;
  border-radius: 10px;
}
.quality-esucation-frame12 {
  width: 597px;
  height: 402px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.quality-esucation-text13 {
  color: rgba(0, 0, 0, 1);
  width: 516px;
  height: auto;
  font-size: 68px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Nunito;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 16px;
  text-decoration: none;
}
.quality-esucation-text18 {
  color: rgba(0, 0, 0, 1);
  width: 535px;
  height: auto;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 1px;
  margin-bottom: 0;
  text-decoration: none;
}
.quality-esucation-content2 {
  top: 2800px;
  left: 0px;
  right: 0px;
  width: 1159px;
  height: 686px;
  margin: auto;
  display: flex;
  padding: 79px 136px;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.quality-esucation-text-info {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 52px;
  justify-content: center;
}
.quality-esucation-text23 {
  color: rgba(0, 0, 0, 1);
  width: 960px;
  height: 412px;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.quality-esucation-text24 {
  font-weight: 700;
}
.quality-esucation-frame14 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.quality-esucation-n-e-x-t {
  width: 260px;
  height: 100px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 288px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  padding-bottom: 0;
  justify-content: center;
  background-color: transparent;
}
.quality-esucation-text38 {
  top: 45px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Nunito;
  font-weight: 700;
  line-height: 159.3999981880188%;
  font-stretch: normal;
  text-decoration: none;
}
.quality-esucation-n-e-x-t1 {
  width: 260px;
  height: 100px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
}
.quality-esucation-text40 {
  top: 45px;
  left: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Nunito;
  font-weight: 700;
  line-height: 159.4%;
  font-stretch: normal;
  text-decoration: none;
}
.quality-esucation-content3 {
  top: 3480px;
  left: 0px;
  right: 0px;
  width: 921px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.quality-esucation-rectangle11 {
  width: 461px;
  height: 391px;
  position: relative;
  border-color: transparent;
  margin-right: 0px;
}
.quality-esucation-rectangle12 {
  width: 460px;
  height: 391px;
  position: relative;
  border-color: transparent;
}
.quality-esucation-n-u-a-d-s011 {
  top: 2440px;
  left: 366px;
  width: 1280px;
  height: 340px;
  margin: auto;
  position: absolute;
  border-color: transparent;
}
.quality-esucation-f-o-o-t-e-r {
  top: 3850px;
  left: 0px;
  right: 0px;
  width: 1919px;
  height: 344px;
  margin: auto;
  display: flex;
  padding: 32px 463px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(30, 55, 119, 1);
}
.quality-esucation-icons {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 19px;
}
.quality-esucation-link2 {
  display: contents;
}
.quality-esucation-twitter {
  width: 49px;
  height: 49px;
  position: relative;
  margin-right: 38px;
  text-decoration: none;
}
.quality-esucation-link3 {
  display: contents;
}
.quality-esucation-instagram {
  width: 49px;
  height: 49px;
  position: relative;
  margin-right: 38px;
  text-decoration: none;
}
.quality-esucation-link4 {
  display: contents;
}
.quality-esucation-facebook {
  width: 49px;
  height: 49px;
  position: relative;
  text-decoration: none;
}
.quality-esucation-text41 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.quality-esucation-text42 {
  color: rgba(141, 163, 204, 1);
  height: auto;
  font-size: 36px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Nunito;
  font-weight: 800;
  line-height: 159.3999981880188%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 14px;
  text-decoration: none;
}
.quality-esucation-text44 {
  color: rgba(141, 163, 204, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 600;
  line-height: 159.3999981880188%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 14px;
  text-decoration: none;
}
.quality-esucation-text46 {
  color: rgba(141, 163, 204, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 600;
  line-height: 159.3999981880188%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .quality-esucation-quality-esucation {
    height: 3625px;
  }
  .quality-esucation-banner {
    left: 0px;
    right: 0px;
    width: 1600px;
    margin: auto;
  }
  .quality-esucation-n-u-a-d-s031 {
    width: 1600px;
    height: 401px;
  }
  .quality-esucation-he-a-d {
    top: 400px;
    left: 0px;
    right: 0px;
    width: 1600px;
    height: 846px;
    margin: auto;
  }
  .quality-esucation-heading {
    width: 1335px;
    height: 756px;
    justify-content: center;
  }
  .quality-esucation-text09 {
    font-size: 80px;
  }
  .quality-esucation-text10 {
    font-size: 70px;
  }
  .quality-esucation-text12 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    align-self: center;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
  }
  .quality-esucation-content {
    top: 1280px;
    left: 0px;
    right: 0px;
    width: 1178px;
    height: 699px;
    margin: auto;
    justify-content: center;
  }
  .quality-esucation-rectangle9 {
    width: 374px;
    height: 538px;
  }
  .quality-esucation-frame12 {
    width: 519px;
  }
  .quality-esucation-text13 {
    font-size: 70px;
  }
  .quality-esucation-text18 {
    width: 440px;
    font-size: 18px;
  }
  .quality-esucation-content2 {
    top: 2327px;
    left: 0px;
    right: 0px;
    width: 1113px;
    height: 618px;
    margin: auto;
  }
  .quality-esucation-text23 {
    width: 748px;
    height: 334px;
    font-size: 18px;
  }
  .quality-esucation-content3 {
    top: 2895px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .quality-esucation-n-u-a-d-s011 {
    top: 1996px;
    left: 183px;
  }
  .quality-esucation-f-o-o-t-e-r {
    top: 3285px;
    left: 0px;
    right: 0px;
    width: 1600px;
    bottom: 0px;
    margin: auto;
  }
}
@media(max-width: 1200px) {
  .quality-esucation-quality-esucation {
    width: 1199px;
    height: 3828px;
  }
  .quality-esucation-banner {
    width: 1199px;
  }
  .quality-esucation-n-u-a-d-s031 {
    width: 1199px;
    height: 320px;
  }
  .quality-esucation-he-a-d {
    top: 320px;
    left: 0px;
    right: 0px;
    width: 1199px;
    height: 705px;
    margin: auto;
  }
  .quality-esucation-heading {
    width: 100%;
    height: 542px;
  }
  .quality-esucation-rectangle10 {
    width: 500px;
    height: 500px;
  }
  .quality-esucation-content {
    top: 1200px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .quality-esucation-text23 {
    width: 818px;
    height: 313px;
  }
  .quality-esucation-content3 {
    top: 2980px;
  }
  .quality-esucation-n-u-a-d-s011 {
    left: 0px;
    right: 0px;
    width: 1051px;
    height: 279px;
    margin: auto;
  }
  .quality-esucation-f-o-o-t-e-r {
    top: 3500px;
    left: 0px;
    right: 0px;
    width: 1199px;
    margin: auto;
  }
}
@media(max-width: 991px) {
  .quality-esucation-quality-esucation {
    width: 990px;
    height: 4329px;
  }
  .quality-esucation-banner {
    width: 990px;
  }
  .quality-esucation-n-u-a-d-s031 {
    width: 990px;
    height: 264px;
  }
  .quality-esucation-he-a-d {
    top: 270px;
    width: 990px;
    height: 1081px;
  }
  .quality-esucation-heading {
    height: 878px;
    padding-top: 45px;
    flex-direction: column;
    padding-bottom: 45px;
  }
  .quality-esucation-content {
    top: 1350px;
    width: 990px;
    height: 1024px;
    flex-direction: column;
  }
  .quality-esucation-rectangle9 {
    width: 400px;
    height: 575px;
  }
  .quality-esucation-frame12 {
    width: 569px;
    height: 499px;
  }
  .quality-esucation-text18 {
    width: 571px;
    font-size: 20px;
  }
  .quality-esucation-content2 {
    top: 2580px;
    width: 990px;
    height: 868px;
    padding-left: 250px;
    padding-right: 250px;
  }
  .quality-esucation-text23 {
    width: 598px;
    height: 653px;
    font-size: 25px;
  }
  .quality-esucation-content3 {
    top: 3500px;
  }
  .quality-esucation-n-u-a-d-s011 {
    top: 2380px;
    width: 990px;
    height: 262px;
  }
  .quality-esucation-f-o-o-t-e-r {
    top: 4000px;
    width: 990px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media(max-width: 767px) {
  .quality-esucation-quality-esucation {
    width: 766px;
    height: 4944px;
  }
  .quality-esucation-banner {
    width: 766px;
    height: 273px;
  }
  .quality-esucation-he-a-d {
    width: 766px;
    height: 1225px;
  }
  .quality-esucation-navbar {
    width: 766px;
    height: 285px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .quality-esucation-frame8 {
    margin-right: 0px;
    flex-direction: row;
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .quality-esucation-frame {
    width: 429px;
    height: 83px;
    align-self: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .quality-esucation-rectangle10 {
    width: 450px;
    height: 450px;
  }
  .quality-esucation-content {
    top: 1500px;
    width: 766px;
  }
  .quality-esucation-content2 {
    top: 2950px;
    width: 766px;
    height: 867px;
    padding-left: 150px;
    padding-right: 150px;
  }
  .quality-esucation-content3 {
    top: 3980px;
    left: 0px;
    right: 0px;
    width: 766px;
    margin: auto;
  }
  .quality-esucation-rectangle11 {
    width: 380px;
    height: 320px;
  }
  .quality-esucation-rectangle12 {
    width: 380px;
    height: 320px;
  }
  .quality-esucation-n-u-a-d-s011 {
    top: 2600px;
    width: 766px;
  }
  .quality-esucation-f-o-o-t-e-r {
    top: 4600px;
    width: 766px;
  }
}
